<div class="modal fade" id="instructions">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Instructions:</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body text-center">
                <h5>
                    <p>Hi there! To apply, simply input your full name and birth date and finally, your CV.<br></p>

                    <p>If you already have a submission, you'll be able to download the file. </p> 
                    <p>Thanks for using <b><i>CV Uploader</i></b></p> 
                </h5>
                <b>Disclamer:</b> You have to be over 18 years old.
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-modal" data-dismiss="modal">I've got it!</button>
            </div>
        </div>
    </div>
</div>

    