<% include partials/header.ejs %>
<% include partials/modal.ejs %>
<script>
    function dateValidator() {
        let input = $('#birthdate').val();
        let birthdate = new Date(input);
        let dateRealDate = new Date(birthdate.getFullYear()+18, birthdate.getMonth()-1, birthdate.getDate());
        console.log(birthdate);
        console.log(birthdate);
        console.log(dateRealDate);
        ( dateRealDate <= new Date() ) ? $("#submit-button").attr("disabled", false) : $("#submit-button").attr("disabled", true);
    }
</script>
<% if (message != '') { %>
    <p class="text-center text-danger"><%= message %></p>
<% } %>
<article class="card card-submit">
    <div class="table-responsive">
         <table class="table table-hovered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Full Name</th>
                    <th scope="col">Birthdate</th>
                    <th scope="col">Candidate's CV</th>
                    <th class="head-submit"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <form action="" method="post" enctype="multipart/form-data">
                        <td>
                                <input id="fullName" type="text" name="full_name" placeholder="What is your full name?" required/> 
                        </td>

                        <td>    
                                <input id="birthdate" type="date" name="birthdate" placeholder="What is your birthdate?" required onfocusout="dateValidator()" />  
                        </td>
                    
                        <td>
                                <input id="cv_file" type="file" name="cv_file"  required />  
                        </td>

                        <td>
                                <button id="submit-button" type="submit">Submit!</button>
                        </td>
                    </form>
                </tr>
            </tbody>
            

        </table>
    
        
    </div>
</article>

</body>

</html>
