<% include partials/header.ejs %>
<% include partials/modal.ejs %>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<article class="card">
   <h3 class="land-title">Hello! Welcome to <strong class="high-color">CV Uploader</strong>!</h3>
   <div class="row">
      <div class="col-sm-6 col-lg-6 offset-lg-1">
         <div class="banner-text">
            <h6>Hi there! To apply, simply input your full name and birth date and finally, your CV.<br></h6>
            <h6>If you already have a submission, you'll be able to download the file. </h6> 
            <h6>Thanks for using <b>CV Uploader</b></h6>
            <h6>If at any time you need help, click the "Instructions" link on the top of the page!</h6>
            <h6><b>Disclamer:</b> You have to be over 18 years old.</p>
            <div class="mt3 btn-start">
               <a href="/add" class="redirect-btn">Start Candidature</a>    
            </div>
         </div>
      </div>
      <!-- column end -->
      <div class="cv-logo col-sm-6 col-lg-5 col-lg-offset-1">
         <img src="assets/images/cv_icon.png">
      </div>
      <!-- column end -->
   </div>
</article>

</body>
</html>
